/* Контейнер з усіма фігурами */
.shapesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* відстань між самими фігурами */
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Контейнер для однієї фігури */
.shape {
  display: inline-block;
}

/* Кожен рядок у фігурі */
.shapeRow {
  display: flex;
}

/* Клітинка у фігурі */
.shapeCell {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background: hsl(107, 95%, 15%);
  margin-right: 3px;
  margin-bottom: 3px;
}

/* Забираємо зайві відступи справа */
.shapeRow .shapeCell:last-child {
  margin-right: 0;
}

/* Забираємо зайві відступи знизу */
.shapeRow:last-child .shapeCell {
  margin-bottom: 0;
}

/* .boardContainer {
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center; 
}


.shapePicker {
  margin-bottom: 120px;
  width: 100%;
  max-width: 330px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  padding: 8px;
}

.shape {
  display: flex;
  flex-direction: column;
  gap: 3px;

  touch-action: none; 
  cursor: grab;
  user-select: none;
}

.shapeRow {
  display: flex;
  gap: 3px;
}

.shapeCell {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background: hsl(107, 95%, 15%); 
  background-clip: padding-box;
}


.dragPreview {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;

  opacity: 0.9;
} */
