.statusWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0px;
  padding: 6px 12px;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 8px;
  z-index: 3;
  font-weight: bold;
}

.containerLoad {
  width: 320px;
  margin-right: 15px;
  margin-left: 15px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.iconLeft {
  width: 50px;
  height: 50px;
  margin-left: 40px;
  margin-right: 60px;
  background: url("/src/assets/emages/BackToButton.png") center/cover no-repeat;
}

.centrLoad {
  width: 220px;
  height: 28px;
  display: flex;
  flex-direction: row;
}
.iconLoad {
  width: 220px;
  height: 28px;
  margin-top: 0px;
  margin-bottom: 35px;
  background: url("/src/assets/emages/GroupLoading.png") center/cover no-repeat;
}

.text {
  font-size: 14px;
}
.iconRight {
  padding: 0px;
  width: 90px;
  height: 90px;
  margin-top: 0px;
  margin-right: 50px;
  margin-left: 50px;
  background: url("/src/assets/emages/Icon_Quascion.png") center/cover no-repeat;
  border: none;
  border-radius: 50px;
}

/* C:\Users\dream machines\Documents\GitHubGame_Tic_Tac_toeReact_Lytvynenko\android\app\build\outputs\apk\debug\app-debug.apk */
