.boardContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 34px);
  grid-template-rows: repeat(8, 34px);
  gap: 2px;
  background-color: rgb(11, 11, 57);
  border-radius: 4px;
  box-sizing: border-box;
}

.cell {
  width: 34px;
  height: 34px;
  gap: 2px;
  border-radius: 4px;
  background-color: transparent;
  transition: background-color 0.2s;
  box-sizing: border-box;
}

.flash {
  transform: scale(1.2);
  filter: brightness(1.5);
}

@keyframes flash {
  0% {
    background-color: yellow;
  }
  50% {
    background-color: orange;
  }
  100% {
    background-color: inherit;
  }
}
