.boardContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 34px);
  grid-template-rows: repeat(8, 34px);
  gap: 2px;
  background-color: rgb(11, 11, 57);
  border-radius: 4px;
  box-sizing: border-box;
}

.cell {
  width: 34px;
  height: 34px;
  gap: 2px;
  border: 1px solid rgba(200, 200, 200, 0.3); /* світло-сіра лінія */
  border-radius: 2px; /* можна зменшити, щоб сітка була чіткою */
  background-color: transparent;
  transition: background-color 0.2s;
  box-sizing: border-box;
}

.flash {
  animation: flash 0.4s ease-out forwards; /* один цикл */
}

@keyframes flash {
  0% {
    box-shadow: 0 0 0px rgba(255, 255, 0, 0);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 255, 0, 0.9); /* яскраве сяйво */
  }
  100% {
    box-shadow: 0 0 0px rgba(255, 255, 0, 0);
  }
}
