/* style */
.container {
  width: 320px;
  height: 780px;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background: url("/src/assets/emages/BacgrBlue.png") calc(50% - 20px)
      center/cover no-repeat,
    url("/src/assets/emages/MaskStars.png") center/cover no-repeat;
}

.gameStart {
  width: 120px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 162, 255);
  border: #fafafa;
  border: 2px;
  border-radius: 30px; /* кругла форма */
  /* transform: translateY(40px);  */
  font-weight: 600;
  font-style: SemiBold;
  font-size: 48px;
  line-height: 80%;
  letter-spacing: 0;
  text-align: center;
  color: #fafafa;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative; /* дозволяє абсолютно позиціонувати сяйво всередині */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 0px;
  display: inline-block; /* щоб ширина була по тексту */
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 90px;
  padding-right: 90px;
  font-family: Fredoka;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 48px;
  line-height: 80%;
  letter-spacing: 0;
  text-align: center;
  color: #fafafa;
  background: url("/src/assets/emages/TitleBagrPhone.png") center center
    no-repeat;
  background-size: contain; /* фон підлаштується під розмір блоку */
}

.titleGlow {
  position: absolute;
  top: -105px; /* регулюй, щоб сяйво збігалося з заголовком */
  left: 51%;
  transform: translateX(-50%);
  width: 175px; /* підлаштуй під розмір заголовка */
  height: 175px;
  background: url("/src/assets/emages/MaskHomeCentre.png") center/contain
    no-repeat;
  pointer-events: none; /* гарантує, що сяйво не заважає клікам */
  z-index: 0; /* позаду заголовка і кнопки */
}

.cartTitle {
  position: relative;
  z-index: 1; /* текст над сяйвом */
}

.cartTitle {
  width: 217px;
  height: 48px;
  padding: 2px;
  margin: 2px;
  color: white;
  font-size: 2em;
  font-weight: 900;
  line-height: 2;
}

.cartText {
  padding: 2px;
  margin: 2px;
  color: black;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
}

.cartIcon {
  width: 80px;
  height: 80px;
  margin: 5px;
  margin-bottom: 0px;
  padding: 0px;
}
